Desafíos/Desafío N°7/Spotify.txt
Desafío N°10 - Obtención de insights/Spotify_Track_Dataset.csv
Desafío N°11 - Segunda entrega de Proyecto Final/Spotify_API.csv
Desafío N°11 - Segunda entrega de Proyecto Final/Spotify_Track_Dataset.csv
Proyecto Complementario N°1 - Evaluando modelos ML/Spotify_Track_Dataset.csv
Proyecto Final - Entrenamiento y optimizacion de Modelos de Machine Learning/Spotify_API.csv
Proyecto Final - Entrenamiento y optimizacion de Modelos de Machine Learning/Spotify_Track_Dataset.csv
Desafío N°02 - Visualizaciones en Python/Spotify_Track_Dataset.csv
